@import 'fonts.scss';
.categories{
    padding-top: 50px;
    margin: 0 100px;
    display: flex; 
    justify-content: space-evenly;
    height: 1200px;
    .categories__textContent_wrapper{
        .categories__textContent_bold{
                text-align: center;
                margin-bottom: 20px;
                font-family: Poppins, sans-serif;
                font-size: 24px;
                line-height: 34px;
                font-weight: 700;
                text-align: left;   
            }       
            .categories__textContent{
                display: inline-block;
                width: 350px;
                font-family: 'Libre Franklin', sans-serif;
                color: #6c6c6c;
                font-size: 14px;
                line-height: 24px;
            }
            .categories__viewDetails{
                margin-top: 20px;
                display: block;
                color: #000;
                font-size: 16px;
            }
    }
    .categories__image_wrapper {
            width: 500px;
            height: 220px ;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f5f5f5;
            .categories__image{
                max-width: 50%; 
                display: inline-block;
            }
    }
}



