@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.content__button {
  border: none;
  padding: 20px 40px;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  background-color: #AC1313;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}
.content__button:hover {
  background-color: #000;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.introduction .content__button_wrapper {
  margin-top: -450px;
}