@import 'fonts.scss';

.content__button{
    border: none;
    padding: 20px 40px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    background-color: #AC1313;
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
        background-color: #000;
        transform: translateY(-5px);
    }
}
.introduction .content__button_wrapper{
    margin-top: -450px;
}