@import 'fonts.scss';

footer.section{
    padding-bottom: 0;
    text-align: center;

    .footer__content{
        margin: 0 auto 90px auto;

        .footer__content__name{
            display: block;
            font-family: 'Pacifico';
            font-size: 34px;
            line-height: 40px;
            font-weight: 700;
            color: #000;
            text-decoration: none;
        }
        
        .footer__content__about{
            display: block;
            margin-top: 30px;
            font-family: 'Libre Franklin', sans-serif;
            line-height: 24px;
            font-size: 14px;
            color: #6c6c6c;
        }

        .footer__content__row{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            margin: 70px auto 0 auto;
            width: 1200px;

            .footer__content__row__item{
                padding: 0 10px;

                img{
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
                
                .footer__content__row__item_title{
                    margin: 10px 0 20px 0;
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 23px;
                    letter-spacing: 1px;
                    text-align: center;
                    color: #000;
                    text-transform: uppercase;
                }

                .footer__content__row__item_info{
                    font-family: 'Libre Franklin';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    text-align: center;
                    color: #6C6C6C;
                    white-space: pre-line;
                }
            }
        }
    }

    .footer__subfooter{
        border-top: 1px solid #EBEBEB;
        padding: 30px 0;
        font-size: 12px;
        line-height: 22px;
        font-weight: 400;

        p{
            display: inline-block;
            font-family: 'Libre Franklin';
            color: #6C6C6C;

            a{
                color: #000;
                text-decoration: none;
                transition: all 0.4s ease;

                &:hover{
                    color: #AC1313;
                }
            }
        }
    }
}