@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.new-collection {
  background-image: url("https://assets.website-files.com/5ba96977bf120e1b45986c06/5bb966fd82df351adbb449c6_raul-cacho-oses-779595-unsplash-p-3200.jpeg");
}
.new-collection .new-collection__content {
  position: relative;
  padding-left: 144px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
}
.new-collection .new-collection__content .section-name2 {
  text-align: left;
  font-weight: 400;
}
.new-collection .new-collection__content .section-name3 {
  text-align: left;
  margin-top: 10px;
}
.new-collection .new-collection__content .new-collection__content__text {
  margin: 10px 0;
  width: 80%;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #6C6C6C;
}
.new-collection .new-collection__content .new-collection__content__text span {
  color: #AC1313;
  text-decoration: underline;
}
.new-collection .new-collection__content .content__button {
  margin-top: 20px;
}