@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');

.section-name1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 34px;

    position: absolute;
    left: 0;
    top: 50%;
    display: inline-block;
    transform: rotate(-90deg) translate(0, -100%);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: #DBDBDB;
}

.section-name2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #D77474;
}

.section-name3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    text-align: center;

    color: #000000;
}