@import 'fonts.scss';
.category{
    padding-top: 80px;
    display: grid;
    width:1200px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
    row-gap: 100px;
    margin:0 auto;
}
.VMP{
    grid-column-start:1;
    grid-column-end:3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;     
    margin:0 auto;  
}
.VMP_item{
    height:240px;
    width:240px;
    border: 30px solid rgba(0, 0, 0, 0.05);
    border-radius:100%;
    img{
        width: 70px;
        height: 70px;
        margin:85px 85px 20px 84px;
    }
    p{
        font-family:'Poppins';
        font-weight:400;
        font-size:14px;
        line-height: 38px;
        letter-spacing:2px;
        text-align:center;
        color:white;
        text-transform: uppercase;
    }
    &:hover{
        transform:scale(1.08);
        transition: 0.3s ease-in-out;
    }
}
.blockA{
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start: 1;
    grid-column-end: 2;
    .categories__textContent_wrapper{
        .categories__textContent_bold{
                text-align: center;
                margin-bottom: 20px;
                font-family: Poppins, sans-serif;
                font-size: 24px;
                line-height: 34px;
                font-weight: 700;
                text-align: left;   
            }       
            .categories__textContent{
                display: inline-block;
                font-family: 'Libre Franklin', sans-serif;
                color: #6c6c6c;
                font-size: 14px;
                line-height: 24px;
            }
    }
}
.blockB{
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start: 2;
    grid-column-end: 3;
    .categories__textContent_wrapper{
        .categories__textContent_bold{
                text-align: center;
                margin-bottom: 20px;
                font-family: Poppins, sans-serif;
                font-size: 24px;
                line-height: 34px;
                font-weight: 700;
                text-align: left;   
            }       
            .categories__textContent{
                display: inline-block;
                font-family: 'Libre Franklin', sans-serif;
                color: #6c6c6c;
                font-size: 14px;
                line-height: 24px;
            }
    }
}